In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

## Import Airports and Weather Into Dataframes
    
The two CSV files that we'll need for this assignment are Airports.csv to find the northernmost and easternmost airports by sorting the coordinates. To find the northernmost airport we sort by latitude descending and the airport with the highest latitude is also the northernmost. I expect an Alaskan airport for this. To find the easternmost airport we sort longitude by ascending and the airport with the highest longitude is also the easternmost. I expect this to be an airport in Maine. 
    
Weather.CSV will help us find out which NYC airport was the windiest on February 12th, 2013. We do this by filtering the year month and day to be what we want it to. Then we sort by windspeed values.

In [2]:
airports = pd.read_csv(r"D:\Libraries\Documents\College\CUNY\2020 S1\IS 362 Data Acquisition and Management\Week 5 Assignment\airports.csv")
weather = pd.read_csv(r"D:\Libraries\Documents\College\CUNY\2020 S1\IS 362 Data Acquisition and Management\Week 5 Assignment\weather.csv")

In [3]:
airports.sort_values('lat',ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

## Northernmost Airport

After sorting our airports by latitude descending and then checking the top 5 it seems like Dilant Hopkins Airport should be the northernmost airport. However, looking up this airport tells us that the airport is actually in New Hampshire which is nowhere near as North as the Alaskan airports below it. Furthermore, looking up the coordinates of Dilant Hopkins tells us that there was an error in the dataset with the lat and lon being switched and even then lon should've been negative.

In reality, **the northernmost airport in the USA is Wiley Post WIll Rogers Mem Airport** as we can search up the coordinates for this and verify the coordinates are correct.

In [4]:
airports.sort_values('lon',ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

## Easternmost Airport

After sorting our airports by longitude descending and then checking the top 5 it seems like Eareckson As should be the easternnmost airport. This can't be so because Eareckson Air Station is in Alaska and all longitudes of North American airports have to be negative because we are in the western hemisphere. This also discounts the top 4 here and Dilant Hopkins we already know has switched coordinates from before.

So, **the easternnmost airport in the USA ends up being Eastport Municipal Airport** as we can search up the coordinates for this and verify the coordinates are correct. A fitting name indeed.

In [5]:
weather[(weather.month == 2) & (weather.day == 12)].sort_values('wind_speed',ascending=False).head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0,1008.3,10,2/12/2013 2:00
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0,1007.1,10,2/12/2013 1:00
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0,1012.5,10,2/12/2013 11:00
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0,1011.7,10,2/12/2013 12:00
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0,1011.5,10,2/12/2013 13:00

## Windiest Weather Feb 12th, 2013

After filtering the weather by February 12th and then sorting it by wind speed descending it seems like EWR has the highest windspeed that day at first glance. However looking at the other windspeeds below it and thinking about how terrifying a 1048mph wind speed would be we can assume that this is erroneous data.

Thus, the next row should have the windiest weather which means: **On February 12th, 2013, the LGA airport had the windiest weather**.